
:root {
  --primary: #000000;
  --primary-text: #ffffff;
  --secondary: #000000;
  --secondary-text: #ffffff;
  --accent: #505050;
  --accent-text: #ffffff;
}

.post {
  width: 100%;
  height: 100%;
  background-color: #000000;
  text-decoration: white;
  position: center;
  text-align: center;
  text-indent: 10%; 
  word-spacing: 1em;
  padding-bottom: 1%;
  padding-top: 1%;
  padding-right: 10%;
  padding-left: 1%;
  
}

.coinvote {
  margin-left:200px;
  margin-right:200px;
  margin-top: -1000px;
  margin-bottom:-1000px;
}